$menufontSize: 16px;

input[type="checkbox"] {
  font-size: 20px;
}

.menu {
  padding: 20px;
  .menu-title {
    color: #fff;
    font-size: $menufontSize;
    height: 25px;
    line-height: 40px;
  }

  .clear-button {
    font-size: 12px;

    line-height: 40px;
    position: absolute;
    right: 20px;
    width: 25px;
    height: 64px;
  }
}
